@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

:root {
  --main-color-light: #09AFF4;
  --main-color-one-quater: #09aef433;
  --main-color-dark: #060922;
  --letter-color-light: white;
  --letter-color-dark: #D1D2D6;
  --letter-color-dark-half: #d1d2d67e;
  --main-container-width: 1400px;
  --transition-short: 0.3s ease;
  --transition-medium: 0.6s ease;
  --border-radius-main: 12px;
  --input-border-radius: 5px;
  --input-border: 1px solid rgba(172, 172, 172, 0.274);
}

body {
  width: 100%;
  height: 100vh;
  min-height: 650px;
  background-color: var(--main-color-dark);
}

.no__scroll {
  overflow: hidden !important;
}

main {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--letter-color-light);
}

h1 {
  font-size: 60px;
  line-height: 65px;
}

h2 {
  font-size: 50px;
  line-height: 55px;
}

h3 {
  font-size: 25px;
  line-height: 30px;
}

h4 {
  font-size: 18px;
  line-height: 22px;
}

p {
  font-size: 18px;
  color: var(--letter-color-dark);
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.section__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: var(--main-container-width);
}

.btn {
  padding: 10px 20px;
  border: 2px solid var(--main-color-light);
  border-radius: 5px 20px;
  outline: none;
  color: var(--main-color-light);
  font-size: 18px;
  background-color: transparent;
  transition: background-color 0.3s ease-out;
  cursor: pointer;
}

.btn:hover {
  color: var(--letter-color-light);
  background-color: var(--main-color-light);
}

strong {
  color: var(--main-color-light);
}

.image__container {
  transform-style: preserve-3d;
  perspective: 1000px;
}

.img__to__animate {
  transform-origin: center center;
  transition: 0.2s ease;
}

@media screen and (max-width: 1024px) {
  body {
    min-height: 1080px;
  }
  body .section__container {
    max-width: 700px;
  }
  body h1 {
    font-size: 50px;
    line-height: 55px;
  }
  body h2 {
    font-size: 40px;
    line-height: 45px;
  }
  body h4 {
    font-size: 18px;
    line-height: 22px;
  }
  body p {
    font-size: 20px;
  }
}
@media screen and (max-width: 768px) {
  body {
    min-height: 900px;
  }
  body h1 {
    font-size: 40px;
    line-height: 45px;
  }
  body h2 {
    font-size: 30px;
    line-height: 35px;
  }
  body h3 {
    font-size: 22px;
    line-height: 27px;
  }
  body h4 {
    font-size: 16px;
    line-height: 20px;
  }
  body p {
    font-size: 18px;
  }
}
.form__about__section {
  padding: 0 20px;
}
.form__about__section .form__about__section__container {
  width: var(--main-container-width);
}
.form__about__section .form__about__section__container .agency__brief {
  width: 100%;
  padding: 30px 0;
  border-bottom: 2px solid var(--main-color-light);
}
.form__about__section .form__about__section__container .agency__brief .agency__logo {
  display: flex;
  align-items: center;
  gap: 10px;
}
.form__about__section .form__about__section__container .agency__brief .agency__logo h1 {
  color: var(--main-color-light);
}
.form__about__section .form__about__section__container .agency__brief .agency__logo img {
  width: 80px;
}
.form__about__section .form__about__section__container .agency__detail {
  display: flex;
  align-items: center;
  align-content: center;
  gap: 20px;
  padding: 20px 0;
  border-bottom: 2px solid var(--main-color-light);
}
.form__about__section .form__about__section__container .agency__detail .agency__description {
  width: 60%;
}
.form__about__section .form__about__section__container .agency__detail .agency__description p {
  max-width: 500px;
  padding-top: 15px;
}
.form__about__section .form__about__section__container .agency__detail .agency__image__container {
  width: 40%;
}
.form__about__section .form__about__section__container .agency__detail .agency__image__container img {
  width: 100%;
  border-radius: var(--border-radius-main);
  transition: var(--transition-short);
}

.form__section {
  padding: 100px 20px;
}
.form__section .form__section__container {
  width: var(--main-container-width);
}
.form__section .form__section__container h2 {
  text-align: center;
}
.form__section .form__section__container P {
  text-align: center;
  padding-bottom: 60px;
}
.form__section .form__section__container P span {
  color: red;
}
.form__section .form__section__container #form__user__info {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
}
.form__section .form__section__container #form__user__info .form__group {
  display: flex;
  justify-content: center;
  gap: 20px;
  width: 100%;
}
.form__section .form__section__container #form__user__info .form__group div#user_employer_name_container {
  width: 66.6%;
}
.form__section .form__section__container #form__user__info .form__group .input__group {
  width: 33%;
}
.form__section .form__section__container #form__user__info .form__group .input__group ::placeholder {
  text-transform: none;
  color: var(#D1D2D6);
  font-size: 16px;
}
.form__section .form__section__container #form__user__info .form__group .input__group label {
  color: var(--letter-color-light);
  font-size: 18px;
}
.form__section .form__section__container #form__user__info .form__group .input__group label span {
  margin-left: 5px;
  color: red;
}
.form__section .form__section__container #form__user__info .form__group .input__group input,
.form__section .form__section__container #form__user__info .form__group .input__group select,
.form__section .form__section__container #form__user__info .form__group .input__group textarea#message__textarea {
  width: 100%;
  height: 40px;
  padding: 0 20px;
  border-radius: var(--input-border-radius);
  background-color: var(--main-color-dark);
  border: var(--input-border);
  outline: none;
  font-size: 18px;
  color: var(--letter-color-light);
  transition: var(--transition-short);
}
.form__section .form__section__container #form__user__info .form__group .input__group input:hover,
.form__section .form__section__container #form__user__info .form__group .input__group select:hover,
.form__section .form__section__container #form__user__info .form__group .input__group textarea#message__textarea:hover {
  border: 1px solid var(--main-color-light);
}
.form__section .form__section__container #form__user__info .form__group .input__group input[type=text]:focus,
.form__section .form__section__container #form__user__info .form__group .input__group select[type=tel]:focus,
.form__section .form__section__container #form__user__info .form__group .input__group textarea#message__textarea:focus {
  border: 1px solid var(--main-color-light) !important;
}
.form__section .form__section__container #form__user__info .form__group .input__group input:-webkit-autofill,
.form__section .form__section__container #form__user__info .form__group .input__group input:-webkit-autofill:hover,
.form__section .form__section__container #form__user__info .form__group .input__group input:-webkit-autofill:focus,
.form__section .form__section__container #form__user__info .form__group .input__group input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0 50px var(--main-color-dark) inset !important;
  -webkit-text-fill-color: var(--letter-color-light) !important;
  border: 1px solid rgb(128, 128, 128) !important;
}
.form__section .form__section__container #form__user__info .form__group .input__group#input__group__textarea {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
}
.form__section .form__section__container #form__user__info .form__group .input__group#input__group__textarea label {
  width: 100%;
}
.form__section .form__section__container #form__user__info .form__group .input__group#input__group__textarea textarea#message__textarea {
  width: 100%;
  min-height: 150px;
  padding: 10px 20px;
  resize: vertical;
}
.form__section .form__section__container #form__user__info .form__group #input__group__agent__name {
  width: 60%;
}
.form__section .form__section__container #form__user__info fieldset {
  width: 100%;
  height: 150px;
  margin-top: 20px;
  padding: 20px;
  color: var(--letter-color-light);
  font-size: 18px;
  border-radius: var(--border-radius-main);
  border: var(--input-border);
  overflow: hidden;
}
.form__section .form__section__container #form__user__info fieldset .form__group .input__group {
  width: calc(50% - 10px);
}
.form__section .form__section__container #form__user__info fieldset .form__group:last-child {
  padding-top: 40px;
}
.form__section .form__section__container #form__user__info fieldset#fieldset__insurance__info {
  height: auto;
  margin-bottom: 20px;
  padding-bottom: 35px;
}
.form__section .form__section__container #form__user__info #fieldset__spouse {
  height: 150px;
}
.form__section .form__section__container #form__user__info #fieldset__spouse #form__group__question__spouse {
  flex-wrap: nowrap;
}
.form__section .form__section__container #form__user__info #fieldset__spouse #form__group__question__spouse #input__group__taxes__width__spouse {
  width: 100%;
  transition: var(--transition-medium);
}
.form__section .form__section__container #form__user__info #fieldset__spouse #form__group__question__spouse #input__group__spouse__include {
  width: 0;
  margin-right: -20px;
  transition: var(--transition-medium);
  opacity: 0;
}
.form__section .form__section__container #form__user__info #fieldset__spouse #form__group__inputs__spouse {
  opacity: 0;
  transition: var(--transition-medium);
}
.form__section .form__section__container #form__user__info fieldset#fieldset__dependant {
  height: 150px;
  transition: var(--transition-medium);
}
.form__section .form__section__container #form__user__info fieldset#fieldset__dependant #form__group__qty__dependant {
  display: flex;
  flex-wrap: wrap;
  padding: 20px 0;
  gap: 30px;
}
.form__section .form__section__container #form__user__info fieldset#fieldset__dependant #form__group__qty__dependant .form__group {
  padding: 20px;
  border-radius: var(--border-radius-main);
  border: 1px solid var(--main-color-one-quater);
}
.form__section .form__section__container #form__user__info fieldset#fieldset__dependant .form__group #input__group__taxes__with__dependant {
  width: 100%;
  transition: var(--transition-medium);
}
.form__section .form__section__container #form__user__info fieldset#fieldset__dependant .form__group #input__group {
  display: flex;
  gap: 20px;
  width: 0%;
  margin-right: -20px;
  transition: var(--transition-medium);
  opacity: 0;
}
.form__section .form__section__container #form__user__info fieldset#fieldset__dependant .form__group #input__group .input__group:nth-child(1) {
  width: 100%;
}
.form__section .form__section__container #form__user__info fieldset#fieldset__dependant #input__group__qty__dependant {
  width: 150px;
  height: 70px;
  overflow: hidden;
  transition: all 0.5s ease;
}
.form__section .form__section__container #form__user__info #submit__form__container {
  width: 100%;
}
.form__section .form__section__container #form__user__info #submit__form__container #form_send_status {
  padding: 10px;
}

@media screen and (max-width: 1200px) {
  .form__section .form__section__container #form__user__info fieldset .form__group {
    flex-wrap: wrap;
  }
  .form__section .form__section__container #form__user__info fieldset#fieldset__dependant {
    height: 150px;
  }
  .form__section .form__section__container #form__user__info fieldset#fieldset__dependant #form__group__fixed {
    flex-wrap: nowrap;
  }
  .form__section .form__section__container #form__user__info fieldset#fieldset__dependant #form__group__fixed #input__group {
    width: calc(50% - 10px);
  }
}
@media screen and (max-width: 1024px) {
  .form__about__section .form__about__section__container .agency__detail {
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
    padding: 20px 0;
  }
  .form__about__section .form__about__section__container .agency__detail .agency__description {
    text-align: center;
    width: 100%;
  }
  .form__about__section .form__about__section__container .agency__detail .agency__description p {
    max-width: 100%;
    font-size: 20px;
    text-align: center;
  }
  .form__about__section .form__about__section__container .agency__detail .agency__image__container {
    width: 80%;
  }
}
@media screen and (max-width: 900px) {
  .form__section .form__section__container #form__user__info .form__group {
    flex-wrap: wrap;
  }
  .form__section .form__section__container #form__user__info .form__group div#user_employer_name_container {
    width: 100%;
  }
  .form__section .form__section__container #form__user__info .form__group .input__group {
    width: calc(50% - 10px);
  }
  .form__section .form__section__container #form__user__info .form__group .input__group #qty__dependant {
    width: 150px;
  }
  .form__section .form__section__container #form__user__info .form__group .input__group label {
    color: var(--letter-color-light);
    font-size: 18px;
  }
  .form__section .form__section__container #form__user__info .form__group .input__group label span {
    margin-left: 5px;
    color: red;
  }
  .form__section .form__section__container #form__user__info fieldset#fieldset__dependant .form__group#form__group__fixed {
    flex-wrap: wrap !important;
  }
  .form__section .form__section__container #form__user__info fieldset#fieldset__dependant .form__group#form__group__fixed #input__group__qty__dependant {
    max-width: 150px !important;
  }
  .form__section .form__section__container #form__user__info fieldset#fieldset__dependant .form__group#form__group__fixed .input__group {
    width: 100% !important;
  }
  .form__section .form__section__container #form__user__info fieldset#fieldset__dependant .form__group#form__group__fixed #input__group {
    width: 0%;
  }
  .form__section .form__section__container #form__user__info fieldset#fieldset__dependant .form__group#form__group__fixed .input__group:nth-child(1) {
    width: 100%;
  }
  .form__section .form__section__container #form__user__info fieldset#fieldset__dependant .form__group#form__group__fixed .input__group:nth-child(2) {
    width: 100%;
  }
}
@media screen and (max-width: 768px) {
  .form__about__section .form__about__section__container .agency__brief .agency__logo h1 {
    font-size: 35px;
  }
  .form__about__section .form__about__section__container .agency__detail .agency__description p {
    font-size: 18px;
  }
  .form__section .form__section__container #form__user__info #fieldset__spouse #form__group__question__spouse {
    flex-wrap: wrap;
  }
  .form__section .form__section__container #form__user__info .form__group #input__group__agent__name {
    width: 100%;
  }
  .form__section .form__section__container #form__user__info .form__group {
    flex-wrap: wrap;
  }
  .form__section .form__section__container #form__user__info .form__group .input__group {
    width: 100%;
  }
  .form__section .form__section__container #form__user__info .form__group .input__group label {
    color: var(--letter-color-light);
    font-size: 18px;
  }
  .form__section .form__section__container #form__user__info .form__group .input__group label span {
    margin-left: 5px;
    color: red;
  }
  .form__section .form__section__container #form__user__info .form__group:nth-child(4) .input__group {
    width: 100%;
  }
  .form__section .form__section__container #form__user__info fieldset .form__group .input__group {
    width: 100%;
  }
  .form__section .form__section__container #form__user__info #fieldset__spouse {
    height: 230px;
  }
}
@media screen and (max-width: 530px) {
  .form__section .form__section__container #form__user__info fieldset#fieldset__dependant #form__group__fixed #input__group {
    flex-wrap: wrap;
  }
  .form__section .form__section__container #form__user__info fieldset#fieldset__dependant #form__group__fixed #input__group #input__group__qty__dependant {
    width: 100% !important;
    max-width: none !important;
  }
  .form__section .form__section__container #form__user__info fieldset#fieldset__dependant #form__group__fixed #input__group #input__group__qty__dependant #qty__dependant {
    width: 100% !important;
  }
}

/*# sourceMappingURL=form-styles.css.map */
