@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Jost:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  margin: 0px;
  padding: 0px;
  box-sizing: border-box;
  font-family: "Jost", sans-serif;
}

:root {
  --main-color-light: #09AFF4;
  --main-color-dark: #060922;
  --letter-color-light: white;
  --letter-color-dark: #D1D2D6;
  --main-container-width: 1400px;
  --transition-short: 0.3s ease;
  --transition-medium: 0.6s ease;
  --border-radius-main: 12px;
}

body {
  width: 100%;
  height: 100vh;
  min-height: 650px;
  background-color: var(--main-color-dark);
}

.no__scroll {
  overflow: hidden !important;
}

main {
  width: 100%;
  height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  color: var(--letter-color-light);
}

h1 {
  font-size: 60px;
  line-height: 65px;
}

h2 {
  font-size: 50px;
}

h3 {
  font-size: 25px;
  line-height: 30px;
}

h4 {
  font-size: 18px;
  line-height: 22px;
}

p {
  font-size: 18px;
  color: var(--letter-color-dark);
}

section {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0 20px;
}

.section__container {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: var(--main-container-width);
}

.btn {
  padding: 10px 20px;
  border: 2px solid var(--main-color-light);
  border-radius: 5px 20px;
  outline: none;
  color: var(--main-color-light);
  font-size: 18px;
  background-color: transparent;
  transition: background-color 0.3s ease-out;
  cursor: pointer;
}

.btn:hover {
  color: var(--letter-color-light);
  background-color: var(--main-color-light);
}

strong {
  color: var(--main-color-light);
}

.image__container {
  transform-style: preserve-3d;
  perspective: 1000px;
}

.img__to__animate {
  transform-origin: center center;
  transition: 0.2s ease;
}

@media screen and (max-width: 1024px) {
  body {
    min-height: 1080px;
  }
  body .section__container {
    max-width: 700px;
  }
  body h1 {
    font-size: 50px;
    line-height: 55px;
  }
  body h2 {
    font-size: 40px;
    line-height: 45px;
  }
  body h4 {
    font-size: 18px;
    line-height: 22px;
  }
}
@media screen and (max-width: 768px) {
  body {
    min-height: 900px;
  }
  body h1 {
    font-size: 40px;
    line-height: 45px;
  }
  body h2 {
    font-size: 30px;
    line-height: 35px;
  }
  body h4 {
    font-size: 16px;
    line-height: 20px;
  }
}
#header {
  display: flex;
  align-items: center;
  position: fixed;
  top: 0px;
  right: 0px;
  left: 0px;
  width: 100%;
  padding: 20px;
  color: var(--letter-color-light);
  transition: all 0.3s ease;
  overflow: hidden;
  z-index: 999;
}
#header .container__header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: var(--main-container-width);
  margin: 0 auto;
}
#header .container__header .logo__container {
  font-size: 30px;
  font-weight: 800;
  font-style: italic;
  color: var(--main-color-light);
}
#header .container__header nav ul.navigation__links {
  display: flex;
  gap: 20px;
  list-style: none;
}
#header .container__header nav ul.navigation__links li {
  position: relative;
  padding-left: 20px;
  font-size: 18px;
  font-weight: 600px;
  transition: var(--transition-short);
  cursor: pointer;
}
#header .container__header nav ul.navigation__links li a.menu__links {
  color: var(--letter-color-light) !important;
  text-decoration: none;
  transition: var(--transition-short);
}
#header .container__header nav ul.navigation__links li a.menu__links:hover {
  color: var(--main-color-light) !important;
}
#header .container__header nav ul.navigation__links li.active::before {
  opacity: 1;
  color: var(--letter-color-light);
  transition: var(--transition-short);
}
#header .container__header nav ul.navigation__links li.active:hover::before {
  color: var(--main-color-light);
  opacity: 1;
}
#header .container__header nav ul.navigation__links li:hover {
  color: var(--main-color-light);
}
#header .container__header nav ul.navigation__links li::before {
  content: "•";
  position: absolute;
  left: 0;
  opacity: 0;
  padding-top: 5px;
  font-size: 50px;
  line-height: 25px;
  transition: opacity 0.3s;
}
#header .container__header nav ul.navigation__links li:hover::before {
  opacity: 1;
}
#header .container__header nav #hamburger__menu {
  display: none;
  background-color: transparent;
  border: none;
  outline: none;
}

header.blue__background {
  background-color: var(--main-color-light);
}

#header li.change__hover__efect:hover {
  color: var(--letter-color-light) !important;
}

header#header .container__header nav ul li.change__hover__efect a.menu__links:hover {
  color: var(--letter-color-light) !important;
}

li.active:hover::before {
  color: var(--letter-color-light) !important;
}

@media screen and (max-width: 1024px) {
  #header {
    background-color: var(--main-color-light);
  }
  #header .container__header .logo__container {
    color: var(--letter-color-light) !important;
  }
  #header .container__header nav ul {
    display: flex !important;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    align-content: center;
    position: fixed;
    top: 70px;
    left: 0px;
    bottom: 0px;
    padding: 20px;
    transform: translateX(-101%);
    background-color: var(--main-color-light);
    transition: var(--transition-medium);
  }
  #header .container__header nav ul li {
    width: 100%;
  }
  #header .container__header nav ul li.change__hover__efect :hover span {
    color: var(--letter-color-light) !important;
  }
  #header .container__header nav ul li.change__hover__efect :hover a.menu__links:hover {
    color: var(--letter-color-light) !important;
  }
  #header .container__header nav button#hamburger__menu {
    display: flex !important;
    justify-content: center;
    flex-wrap: wrap;
    align-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
  }
  #header .container__header nav button#hamburger__menu span.hamburger__menu__line {
    width: 100%;
    height: 3px;
    border-radius: 5px;
    background-color: var(--letter-color-light) !important;
    transition: var(--transition-medium);
  }
  header#header .container__header nav #hamburger__menu span.rotate__line__one {
    transform: rotate(-225deg) translate(6px, -6px);
  }
  header#header .container__header nav #hamburger__menu .display__none {
    display: none;
  }
  header#header .container__header nav #hamburger__menu span.rotate__line__three {
    transform: rotate(225deg) translate(6px, 6px);
  }
  #header .container__header nav ul.menu__open {
    transform: translateX(0) !important;
  }
}
.section__presentation {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px;
  background-image: url("../assets/images/hero/hero-bg-1.jpg");
  background-size: cover;
  background-position: 85% 0%;
}
.section__presentation__gradient {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  background-color: var(--main-color-dark);
  opacity: 0.5;
}
.section__presentation .section__presentation__container {
  z-index: 1;
}
.section__presentation .section__presentation__container .container__presentation {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}
.section__presentation .section__presentation__container .container__presentation .container__presentation__text {
  width: 50%;
}
.section__presentation .section__presentation__container .container__presentation .container__presentation__text h4 {
  display: flex;
  align-items: center;
  align-content: center;
  margin-bottom: -15px;
  color: var(--main-color-light);
}
.section__presentation .section__presentation__container .container__presentation .container__presentation__text h4 span {
  font-size: 30px;
  padding: 0 5px;
  padding-top: 7px;
}
.section__presentation .section__presentation__container .container__presentation .container__presentation__text h4 span:first-child {
  padding-left: 0px;
}
.section__presentation .section__presentation__container .container__presentation .container__presentation__text h1 {
  padding: 20px 0;
}
.section__presentation .section__presentation__container .container__presentation .container__presentation__text #btn__contact__us {
  margin-top: 20px;
}
.section__presentation .section__presentation__container .container__presentation .container__presentation__image {
  width: 50%;
}
.section__presentation .section__presentation__container .container__presentation .container__presentation__image img {
  width: 100%;
}

@media screen and (max-width: 1024px) {
  .section__presentation .section__presentation__container .container__presentation {
    flex-wrap: wrap;
    max-width: 700px;
    margin-top: 60px;
  }
  .section__presentation .section__presentation__container .container__presentation .container__presentation__text,
  .section__presentation .section__presentation__container .container__presentation .container__presentation__image {
    width: 100%;
  }
  .section__presentation .section__presentation__container .container__presentation .container__presentation__image img {
    max-width: 700px;
  }
}
@media screen and (max-width: 768px) {
  .section__presentation .section__presentation__container .container__presentation {
    max-width: 540px;
  }
  .section__presentation .section__presentation__container .container__presentation .container__presentation__text,
  .section__presentation .section__presentation__container .container__presentation .container__presentation__image {
    width: 100%;
  }
  .section__presentation .section__presentation__container .container__presentation .container__presentation__text h1 {
    line-height: 45px;
  }
  .section__presentation .section__presentation__container .container__presentation .container__presentation__image img {
    max-width: 700px;
  }
}
.section__contact {
  height: 100vh;
  min-height: 800px;
  padding: 100px 20px;
}
.section__contact .section__contact__container h2 {
  width: 100%;
  margin-bottom: 40px;
  text-align: center;
}
.section__contact .section__contact__container .contact__form__container {
  width: 100%;
}
.section__contact .section__contact__container .contact__form__container form#contact__form {
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  width: 100%;
}
.section__contact .section__contact__container .contact__form__container form#contact__form label {
  color: var(--letter-color-light);
}
.section__contact .section__contact__container .contact__form__container form#contact__form label span {
  padding-left: 5px;
  color: red;
}
.section__contact .section__contact__container .contact__form__container form#contact__form .input__group {
  width: 100%;
}
.section__contact .section__contact__container .contact__form__container form#contact__form .input__group input[type=text],
.section__contact .section__contact__container .contact__form__container form#contact__form .input__group input[type=email],
.section__contact .section__contact__container .contact__form__container form#contact__form .input__group textarea {
  padding: 0 20px;
  font-size: 18px;
  color: var(--letter-color-light);
  border-radius: 5px;
  outline: none;
  border: 1px solid rgba(172, 172, 172, 0.274);
  background-color: transparent;
  transition: var(--transition-short);
}
.section__contact .section__contact__container .contact__form__container form#contact__form .input__group input[type=text]:focus,
.section__contact .section__contact__container .contact__form__container form#contact__form .input__group input[type=email]:focus,
.section__contact .section__contact__container .contact__form__container form#contact__form .input__group textarea:focus {
  border: 1px solid var(--main-color-light);
}
.section__contact .section__contact__container .contact__form__container form#contact__form .input__group input[type=text],
.section__contact .section__contact__container .contact__form__container form#contact__form .input__group input[type=email] {
  width: 100%;
  height: 40px;
}
.section__contact .section__contact__container .contact__form__container form#contact__form .input__group textarea {
  width: 100%;
  min-height: 200px;
  padding: 10px 20px;
  resize: vertical;
}
.section__contact .section__contact__container .contact__form__container form#contact__form .input__group:first-child,
.section__contact .section__contact__container .contact__form__container form#contact__form .input__group:nth-child(2) {
  width: calc(50% - 20px);
}
.section__contact .section__contact__container .contact__form__container form#contact__form .input__group:nth-child(3) {
  margin-top: -20px;
}
.section__contact .section__contact__container .contact__form__container form#contact__form #contact__form__btn__submit {
  background-color: var(--main-color-light);
  color: var(--letter-color-light);
}
.section__contact .section__contact__container .contact__form__container form#contact__form #contact__form__btn__submit:hover {
  background-color: transparent;
  color: var(--main-color-light);
}

@media screen and (max-width: 768px) {
  .section__contact .section__contact__container .contact__form__container form#contact__form .input__group:first-child,
  .section__contact .section__contact__container .contact__form__container form#contact__form .input__group:nth-child(2) {
    width: 100%;
  }
  .section__contact .section__contact__container .contact__form__container form#contact__form .input__group:nth-child(2) {
    margin-top: -20px;
  }
}
.section__insurances {
  padding: 100px 20px;
}
.section__insurances__container .insurances__container__description {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
}
.section__insurances__container .insurances__container__description .insurances__container__description__text {
  max-width: 600px;
}
.section__insurances__container .insurances__container__description .insurances__container__description__text h4 {
  color: var(--main-color-light);
}
.section__insurances__container .insurances__container__insurance {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  width: 100%;
  padding-top: 30px;
}
.section__insurances__container .insurances__container__insurance .insurance__type__container {
  max-width: calc(33.333% - 14px);
  min-width: 250px;
  padding: 20px;
  border-radius: var(--border-radius-main);
  border: 1px solid var(--main-color-light);
}
.section__insurances__container .insurances__container__insurance .insurance__type__container .insurance__tupe__img__container {
  max-width: 60px;
}
.section__insurances__container .insurances__container__insurance .insurance__type__container .insurance__tupe__img__container img {
  width: 100%;
}
.section__insurances__container .insurances__container__insurance .insurance__type__container h3 {
  padding: 20px 0;
}

@media screen and (max-width: 1024px) {
  .section__insurances__container .insurances__container__description .insurances__container__description__text h2 {
    padding: 10px 0;
  }
  .section__insurances__container .insurances__container__insurance .insurance__type__container {
    max-width: calc(50% - 10px);
  }
}
@media screen and (max-width: 600px) {
  .section__insurances__container .insurances__container__insurance .insurance__type__container {
    max-width: calc(100% - 0px);
  }
}

/*# sourceMappingURL=styles.css.map */
