* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Jost', sans-serif;
}

:root {
    --main-color-light: #09AFF4;
    --main-color-one-quater: #09aef433;
    --main-color-dark: #060922;

    --letter-color-light: white;
    --letter-color-dark: #D1D2D6;

    --main-container-width: 1400px;

    --transition-short: 0.3s ease;
    --transition-medium: 0.6s ease;

    --border-radius-main: 12px;
}


body {
    width: 100%;
    height: 100vh;
    min-height: 650px;
    background-color: var(--main-color-dark);
}

.no__scroll {
    overflow: hidden !important;
}

main {
    width: 100%;
    height: 100%;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--letter-color-light);
}

h1 {
    font-size: 60px;
    line-height: 65px;
}

h2 {
    font-size: 50px;
    line-height: 55px;
}

h3{
    font-size: 25px;
    line-height: 30px;
}

h4 {
    font-size: 18px;
    line-height: 22px;
}

p {
    font-size: 18px;
    color: var(--letter-color-dark);
}

section {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.section__container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: var(--main-container-width);
}

.btn {
    padding: 10px 20px;
    border: 2px solid var(--main-color-light);
    border-radius: 5px 20px;
    outline: none;
    color: var(--main-color-light);
    font-size: 18px;
    background-color: transparent;
    transition: background-color 0.3s ease-out;
    cursor: pointer;
}

.btn:hover {
    color: var(--letter-color-light);
    background-color: var(--main-color-light);
}


strong {
    color: var(--main-color-light);
}

.image__container {
    transform-style: preserve-3d;
    perspective: 1000px;
}

.img__to__animate{
    transform-origin: center center;
    transition: 0.2s ease;
}

@media screen and (max-width: 1024px) {
    body {
        min-height: 1080px;

        .section__container{
            max-width: 700px;
        }

        h1 {
            font-size: 50px;
            line-height: 55px;
        }

        h2 {
            font-size: 40px;
            line-height: 45px;
        }

        h4 {
            font-size: 18px;
            line-height: 22px;
        }

        p{
            font-size: 20px;
        }
    }
}

@media screen and (max-width: 768px) {
    body {
        min-height: 900px;

        h1 {
            font-size: 40px;
            line-height: 45px;

        }

        h2 {
            font-size: 30px;
            line-height: 35px;
        }

        h4 {
            font-size: 16px;
            line-height: 20px;
        }

        p{
            font-size: 18px;
        }
    }
}