#header {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0px;
    right: 0px;
    left: 0px;
    width: 100%;
    padding: 20px;
    color: var(--letter-color-light);
    transition: all .3s ease;
    overflow: hidden;
    z-index: 999;

    .container__header {
        display: flex;
        align-items: center;
        justify-content: space-between;
        width: var(--main-container-width);
        margin: 0 auto;

        .logo__container {
            font-size: 30px;
            font-weight: 800;
            font-style: italic;
            color: var(--main-color-light);
        }

        nav {

            ul.navigation__links {
                display: flex;
                gap: 20px;
                list-style: none;

                li {
                    position: relative;
                    padding-left: 20px;
                    font-size: 18px;
                    font-weight: 600px;
                    transition: var(--transition-short);
                    cursor: pointer;

                    a.menu__links {
                        color: var(--letter-color-light) !important;
                        text-decoration: none;
                        transition: var(--transition-short);
                    }

                    a.menu__links:hover {
                        color: var(--main-color-light) !important;
                    }
                }

                li.active::before {
                    opacity: 1;
                    color: var(--letter-color-light);
                    transition: var(--transition-short);
                }

                li.active:hover::before {
                    color: var(--main-color-light);
                    opacity: 1;
                }

                li:hover {
                    color: var(--main-color-light);
                }

                li::before {
                    content: "•";
                    position: absolute;
                    left: 0;
                    opacity: 0;
                    padding-top: 5px;
                    font-size: 50px;
                    line-height: 25px;
                    transition: opacity 0.3s;
                }

                li:hover::before {
                    opacity: 1;
                }
            }


        }
    }
}

#hamburger__menu {
    display: none;
    background-color: transparent;
    border: none;
    outline: none;
}

header.blue__background {
    background-color: var(--main-color-light);
}

#header li.change__hover__efect:hover {
    color: var(--letter-color-light) !important;

}

header#header .container__header nav ul li.change__hover__efect {
    a.menu__links:hover {
        color: var(--letter-color-light) !important;

    }
}

li.active:hover::before {
    color: var(--letter-color-light) !important;
}


@media screen and (max-width: 1024px) {
    #header {
        background-color: var(--main-color-light);

        .container__header {
            .logo__container {
                color: var(--letter-color-light) !important;
            }

            nav {
                position: fixed;
                top: 70px;
                left: 0px;
                bottom: 0px;
                max-width: 250px;
                transform: translateX(-101%);
                transition: var(--transition-medium);

                ul {
                    display: flex !important;
                    flex-wrap: wrap;
                    justify-content: center;
                    align-items: center;
                    align-content: center;
                    height: 100%;
                    padding: 20px;
                    background-color: var(--main-color-light);

                    li {
                        width: 100%;

                    }

                    li.change__hover__efect :hover {
                        span {
                            color: var(--letter-color-light) !important;
                        }

                        a.menu__links:hover {
                            color: var(--letter-color-light) !important;
                        }
                    }
                }


            }
        }
    }

    button#hamburger__menu {
        display: flex !important;
        justify-content: center;
        flex-wrap: wrap;
        align-content: space-between;
        width: 30px;
        height: 20px;
        cursor: pointer;

        span.hamburger__menu__line {
            width: 100%;
            height: 3px;
            border-radius: 5px;
            background-color: var(--letter-color-light) !important;
            transition: var(--transition-medium);
        }
    }

    header#header .container__header #hamburger__menu {
        span.rotate__line__one {
            transform: rotate(-225deg) translate(6px, -6px) !important;
        }

        .display__none {
            display: none;
        }

        span.rotate__line__three {
            transform: rotate(225deg) translate(6px, 6px);
        }
    }

    #header {
        .container__header {
            nav.menu__open {

                transform: translateX(0) !important;
            }

        }
    }

}