.section__presentation {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 20px;
    background-image: url("../assets/images/hero-bg-1.jpg");
    background-size: cover;
    background-position: right;

    &__gradient {
        position: absolute;
        top: 0px;
        right: 0px;
        bottom: 0px;
        left: 0px;
        background-color: var(--main-color-dark);
        opacity: 0.5;
    }

    .section__presentation__container {
        z-index: 1;

        .container__presentation {
            display: flex;
            justify-content: center;
            align-items: center;
            width: 100%;

            .container__presentation__text {
                width: 50%;

                h3 {
                    display: flex;
                    align-items: center;
                    align-content: center;
                    margin-bottom: -15px;
                    color: var(--main-color-light);

                    span {
                        font-size: 30px;
                        padding: 0 5px;
                        padding-top: 7px;
                    }

                    span:first-child {
                        padding-left: 0px;
                    }
                }



                h1 {
                    padding: 20px 0;
                    font-size: 50px;
                    line-height: 60px;
                }

                #btn__contact__us {
                    margin-top: 20px;
                }
            }

            .container__presentation__image {
                width: 50%;

                img {
                    width: 100%;
                }
            }
        }
    }

}

@media screen and (max-width: 1024px) {

    .section__presentation {
        .section__presentation__container{
            .container__presentation{
                flex-wrap: wrap;
                max-width: 700px;
                margin-top: 60px;

                .container__presentation__text,
                .container__presentation__image{
                    width: 100%;
                }

                .container__presentation__image{

                    img{
                        max-width: 700px;
                        margin-left: -20px;
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px){
    .section__presentation {
        .section__presentation__container{
            .container__presentation{
                max-width: 540px;

                .container__presentation__text,
                .container__presentation__image{
                    width: 100%;
                }

                .container__presentation__image{
                    img{
                        max-width: 700px;
                    }
                }
            }
        }
    }
}